/*----------------------------------------------------------------------*/
 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 5;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {

/*	line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
		width: 70%;
		margin: 10px auto;
		border-collapse: collapse;
		border:1px solid #333;
}
/*--------------------------------------------------------------------------*/
div{
	text-align: center
}
td{
	font-size: 20px;
	display: table-cell; /* IE8から使用可能 */
  vertical-align: middle;
}
select{
	font-size: 25px;
}
#que{
	font-size: 30px;
	font-weight: bold;
}
.dbt{
	font-size: 20px;
}

.v-enter, .v-leave-to{
	opacity: 0;
}

.v-enter-to, .v-leave{
	opacity: 1;
}

.v-enter-active, .v-leave-active{
	transition: opacity 0.5s;
}

#defaultCanvas0{
  position: fixed; /*canvasを固定*/
  top: 0; /*canvasを上に固定*/
}

.bg{
	background-color:  rgba(255,255,255, 0.5);
}
.bg2{
			background-color: rgba(150,200,150, 0.5);
}
